body{
    background: chartreuse;
    font-family: Verdana;
    max-width: 900 px;
    margin: auto;
}

.photo{
    border: #505050;
    border-radius: 50%;
}
#title, .subtitle, .post_title {
    color: blue;
    text-transform: uppercase;
} 

.post_title {
    font-size: 16 px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin: 0;
    margin-bottom: 15 px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.image {
    margin-bottom: 15 px;
    border-radius: 5px;
    width: 100%;
}

.list {
    list-style-type: none;
    padding-left: 5px;

}